# Configurações de Segurança JWT

# Cole aqui o conteúdo das suas chaves RSA
# Sem quebras de linha se preferir colocar em uma única variável ou em formato PEM

JWT_PUBLIC_KEY="-----BEGIN PUBLIC KEY-----\nSUA_CHAVE_AQUI\n-----END PUBLIC KEY-----"
JWT_PRIVATE_KEY="-----BEGIN PRIVATE KEY-----\nSUA_CHAVE_AQUI\n-----END PRIVATE KEY-----"